In [1]:
import pandas as pd
from datetime import datetime as dt
from functools import reduce
import calendar
import datetime
import plotly.express as px
import dash_daq as daq

In [2]:
covid_data = 'assets/covid_data.csv'
df_covid_data_v1 = pd.read_csv(covid_data)
df_covid_data_v1.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [3]:
def func_continent(a='Africa'):
    df_covid_data = df_covid_data_v1.sort_values('date').groupby(['continent','location']).last().reset_index()
    df_covid_cont = df_covid_data['continent'] == a
    df_cont_new = df_covid_data[df_covid_cont]
    if a == 'Africa':
        df_cont_new.at[13,'location'] = 'DRC'
    elif a == 'Asia':
        df_cont_new.at[101,'location'] = 'UAE'
    else: df_cont_new
    return  df_cont_new[['date','location','new_cases','new_deaths','icu_patients','hosp_patients',
                          'new_tests_per_thousand','positive_rate','new_vaccinations','people_vaccinated_per_hundred']]
func_continent('Asia')

,date,location,new_cases,new_deaths,icu_patients,hosp_patients,new_tests_per_thousand,positive_rate,new_vaccinations,people_vaccinated_per_hundred
55,2021-07-18,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,4015.0,1.98
56,2021-07-18,Armenia,132.0,7.0,NaN,NaN,1.911,0.030,NaN,6.44
57,2021-07-18,Azerbaijan,255.0,1.0,NaN,NaN,0.897,0.016,33869.0,25.45
58,2021-07-18,Bahrain,86.0,0.0,NaN,NaN,8.305,0.008,6318.0,64.43
59,2021-07-18,Bangladesh,11578.0,225.0,NaN,NaN,0.273,0.333,1872.0,3.54
60,2021-07-18,Bhutan,10.0,0.0,NaN,NaN,3.631,0.004,43.0,62.92
61,2021-07-18,Brunei,0.0,0.0,NaN,NaN,NaN,NaN,690.0,24.36
62,2021-07-18,Cambodia,845.0,30.0,NaN,NaN,0.435,0.035,166010.0,35.36
63,2021-07-18,China,31.0,0.0,NaN,NaN,NaN,NaN,9130000.0,43.21
64,2021-07-18,Georgia,1286.0,13.0,NaN,NaN,7.771,0.029,5768.0,4.40
65,2021-07-18,Hong Kong,2.0,0.0,NaN,NaN,NaN,0.000,55296.0,37.58
66,2021-07-18,India,38164.0,499.0,NaN,NaN,1.457,0.018,5235836.0,23.33
67,2021-07-18,Indonesia,44721.0,1093.0,NaN,NaN,0.678,0.293,461132.0,15.24
68,2021-07-18,Iran,22184.0,195.0,NaN,NaN,0.914,0.249,65532.0,5.23
69,2021-07-18,Iraq,8698.0,41.0,NaN,NaN,1.133,0.198,9985.0,1.74
70,2021-07-19,Israel,755.0,3.0,18.0,125.0,7.524,0.011,10474.0,66.36
71,2021-07-18,Japan,3065.0,3.0,NaN,NaN,0.534,0.039,580702.0,33.71
72,2021-07-18,Jordan,675.0,9.0,NaN,NaN,2.197,0.005,67092.0,26.56
73,2021-07-18,Kazakhstan,124.0,0.0,NaN,NaN,2.808,0.030,77737.0,25.95
74,2021-07-18,Kuwait,1189.0,10.0,NaN,NaN,3.590,0.109,NaN,34.00
75,2021-07-18,Kyrgyzstan,1373.0,10.0,NaN,NaN,NaN,NaN,205.0,1.53
76,2021-07-18,Laos,131.0,1.0,NaN,NaN,0.214,0.024,14671.0,14.27
77,2021-07-18,Lebanon,450.0,1.0,NaN,NaN,2.057,NaN,861.0,15.39
78,2021-07-18,Macao,NaN,NaN,NaN,NaN,NaN,NaN,4805.0,41.38
79,2021-07-18,Malaysia,10710.0,153.0,NaN,NaN,4.158,0.093,344961.0,30.33
80,2021-07-18,Maldives,63.0,0.0,NaN,NaN,10.617,0.017,4446.0,59.28
81,2021-07-18,Mongolia,1171.0,6.0,NaN,NaN,3.193,0.156,4664.0,64.27
82,2021-07-18,Myanmar,5285.0,231.0,NaN,NaN,0.215,0.303,3800.0,3.38
83,2021-07-18,Nepal,1223.0,23.0,NaN,NaN,0.283,0.225,89402.0,10.29
84,2021-06-27,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,795.0,28.50
85,2021-07-18,Oman,0.0,0.0,NaN,NaN,0.525,0.361,3650.0,28.14
86,2021-07-18,Pakistan,2452.0,30.0,NaN,NaN,0.171,0.042,513292.0,4.21
87,2021-07-18,Palestine,0.0,0.0,NaN,NaN,0.678,0.032,109.0,11.09
88,2021-07-18,Philippines,5396.0,116.0,NaN,NaN,0.460,0.111,391272.0,9.29
89,2021-07-18,Qatar,118.0,0.0,NaN,NaN,1.897,0.024,19961.0,66.50
90,2021-07-18,Saudi Arabia,0.0,0.0,NaN,NaN,3.033,0.010,383410.0,52.97
91,2021-07-18,Singapore,92.0,0.0,NaN,NaN,NaN,0.000,75863.0,70.71
92,2021-07-18,South Korea,1252.0,1.0,NaN,NaN,0.671,0.047,2804.0,31.47
93,2021-07-18,Sri Lanka,1420.0,46.0,NaN,NaN,0.620,0.117,195869.0,26.05
94,2021-07-18,Syria,7.0,1.0,NaN,NaN,NaN,NaN,NaN,0.70
95,2021-07-18,Taiwan,18.0,4.0,NaN,NaN,0.502,0.001,313013.0,20.12
96,2021-07-18,Tajikistan,41.0,0.0,NaN,NaN,NaN,NaN,NaN,3.96
97,2021-07-18,Thailand,11397.0,101.0,NaN,NaN,1.077,NaN,93273.0,15.45
98,2021-07-18,Timor,28.0,0.0,NaN,NaN,0.711,NaN,NaN,18.05
99,2021-07-18,Turkey,0.0,0.0,NaN,NaN,2.596,0.023,362069.0,46.20
100,2021-04-04,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.53
101,2021-07-18,UAE,1529.0,2.0,NaN,NaN,29.210,0.006,69059.0,77.60
102,2021-07-18,Uzbekistan,507.0,3.0,NaN,NaN,NaN,NaN,78652.0,6.20
103,2021-07-18,Vietnam,4843.0,29.0,NaN,NaN,0.915,0.027,22654.0,4.09
104,2021-07-18,Yemen,4.0,0.0,NaN,NaN,NaN,NaN,NaN,0.97

In [4]:
def fig_funnel(a='Africa'):
    return px.funnel(func_continent(a).nlargest(10, 'positive_rate'), x='positive_rate', y='location',
                       labels={"positive_rate": "New Positivity Rate", "location": "Country"})
# fig_funnel('South America')

In [5]:
def fig_bar(a='Africa'):
    return px.bar(func_continent(a).nlargest(10, 'new_cases'), x="location", template="simple_white",
           labels={"location": "Country", "new_cases": "New Cases"}, y="new_cases", barmode="group")
# fig_bar('South America')

In [6]:
def fig_pie(a='Africa'):
    return px.pie(func_continent(a).nlargest(10, 'new_vaccinations'), names='location', values='new_vaccinations',
                 labels={"new_vaccinations": "New Vaccinations", "location": "Country"})
# fig_pie('South America')

In [7]:
def fig_funnel_vaccine(a='Africa'):
    return px.funnel(func_continent(a).nlargest(10, 'people_vaccinated_per_hundred'),
                               x='people_vaccinated_per_hundred',
                               y='location', color='location',
                               labels={"people_vaccinated_per_hundred": "Vaccination per 100", "location": "Country"}).update_yaxes(showticklabels=False)
# fig_funnel_vaccine('North America')

In [8]:
df_covid_data_v1['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [9]:
"""Group By can be used to group the data into continents."""
df_cont_grouped = df_covid_data_v1.groupby('continent')
df_cont_grouped.size()

continent
Africa           26547
Asia             24418
Europe           24458
North America    12873
Oceania           4047
South America     6183
dtype: int64

In [10]:
df_cont_grouped.get_group('North America').nlargest(10, 'new_cases')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
98284,USA,North America,United States,2021-01-02,20554622.0,300462.0,207726.286,356854.0,2555.0,2710.000,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98290,USA,North America,United States,2021-01-08,22011753.0,295257.0,251084.714,376093.0,4097.0,3113.429,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98289,USA,North America,United States,2021-01-07,21716496.0,278337.0,230893.143,371996.0,4006.0,2832.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98291,USA,North America,United States,2021-01-09,22272720.0,260967.0,245442.571,379397.0,3304.0,3220.429,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98288,USA,North America,United States,2021-01-06,21438159.0,255637.0,224787.857,367990.0,3895.0,2750.571,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98269,USA,North America,United States,2020-12-18,17575536.0,251832.0,221064.286,318513.0,2969.0,2714.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98267,USA,North America,United States,2020-12-16,17083804.0,246644.0,218176.429,312045.0,3680.0,2705.143,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98297,USA,North America,United States,2021-01-15,23636613.0,242780.0,232122.857,399850.0,3909.0,3393.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98262,USA,North America,United States,2020-12-11,16028086.0,240089.0,215727.143,299509.0,3406.0,2504.000,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98268,USA,North America,United States,2020-12-17,17323704.0,239900.0,219386.714,315544.0,3499.0,2777.286,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN

### VACCINATIONS BY MANUCATURER

In [8]:
# vax_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv'
"""Offline version"""
vax_url = 'temp_assets/vaccines.csv'
def covid_vaccine():
    vax_df = pd.read_csv(vax_url, index_col=0, parse_dates=['date'])
#     vax_df.to_csv('temp_assets/vaccines.csv')
    """Below returns months"""
    vax_df['Month'] =  pd.DatetimeIndex(vax_df['date']).month_name()
    """Below returns names of months. This is depricated"""
#     vax_df['Month']= vax_df['Month'].apply(lambda x: calendar.month_abbr[x])
    return vax_df
covid_vaccine().info()

<class 'pandas.core.frame.DataFrame'>
Index: 53583 entries, Argentina to European Union
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                53583 non-null  datetime64[ns]
 1   vaccine             53583 non-null  object
 2   total_vaccinations  53583 non-null  int64
 3   Month               53583 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.0+ MB

In [19]:
vax_pivot = covid_vaccine().pivot_table(index=('Month','location','vaccine'),aggfunc = 'sum')
vax_pivot.head(5)

                                    total_vaccinations
Month location  vaccine
April Argentina CanSino                       19939851
                Moderna                      201936810
                Oxford/AstraZeneca           815866927
                Pfizer/BioNTech              464761215
                Sinopharm/Beijing            901256615

In [22]:
def pct_vaccination():
    vax_by_pcnt = covid_vaccine()[['vaccine','total_vaccinations']].groupby('vaccine').sum().reset_index()
    vax_by_pcnt['pcnt_vaccination'] = round(vax_by_pcnt.total_vaccinations * 100 /vax_by_pcnt.total_vaccinations.sum(),2)
    return vax_by_pcnt.sort_values(['pcnt_vaccination'], ascending=[0])
pct_vaccination()

              vaccine  total_vaccinations  pcnt_vaccination
6     Pfizer/BioNTech        574251932389             66.34
3             Moderna        169060426106             19.53
5  Oxford/AstraZeneca         60134938895              6.95
7   Sinopharm/Beijing         18306777957              2.12
2     Johnson&Johnson         18069239755              2.09
8             Sinovac         17092199088              1.97
9           Sputnik V          8334589275              0.96
0             CanSino           208647528              0.02
4             Novavax           108122963              0.01
1             Covaxin               25968              0.00

In [23]:
def df_this_month():
    vax_by_pcnt = covid_vaccine()[['Month','vaccine','total_vaccinations']].groupby('Month').sum().reset_index()
    vax_by_pcnt['pcnt_vaccination'] = round(vax_by_pcnt.total_vaccinations * 100 /vax_by_pcnt.total_vaccinations.sum(),2)
    return vax_by_pcnt.sort_values(['Month'], ascending=[0])
df_this_month()

        Month  total_vaccinations  pcnt_vaccination
11  September         48108114903              5.56
10    October         54390663671              6.28
9    November         54884634322              6.34
8         May         99665223326             11.51
7       March         85849924696              9.92
6        June        100768328115             11.64
5        July         82480876302              9.53
4     January         70413350357              8.13
3    February         70447977063              8.14
2    December         64409593743              7.44
1      August         44791394054              5.17
0       April         89356819372             10.32

In [24]:
"""Last 30 days vaccination stats"""
def last_two_months():
    df_last_60_days_vax = covid_vaccine()[covid_vaccine().date > datetime.datetime.now() - pd.to_timedelta("50day")]
    df_last_60_days_vax = df_last_60_days_vax[['Month','vaccine','total_vaccinations']].groupby(['vaccine','Month']).sum().reset_index()
    df_last_60_days_vax['pcnt_vaccination'] = round(df_last_60_days_vax.total_vaccinations * 100 /df_last_60_days_vax.total_vaccinations.sum(),2)
    return df_last_60_days_vax.sort_values(['vaccine'], ascending=[0])

last_two_months()

               vaccine Month  total_vaccinations  pcnt_vaccination
19           Sputnik V  June           605410584              0.55
18           Sputnik V  July           473285577              0.43
17             Sinovac  June           901766239              0.82
16             Sinovac  July           698457964              0.64
15   Sinopharm/Beijing  June          1846505069              1.68
14   Sinopharm/Beijing  July          1084494974              0.99
13     Pfizer/BioNTech  June         43755470851             39.80
12     Pfizer/BioNTech  July         31486586644             28.64
11  Oxford/AstraZeneca  June          3141332344              2.86
10  Oxford/AstraZeneca  July          2113285727              1.92
9              Novavax  June            27368226              0.02
8              Novavax  July            23561445              0.02
7              Moderna  June         13234214973             12.04
6              Moderna  July          8441608370              7.68
5      Johnson&Johnson  June          1239679693              1.13
4      Johnson&Johnson  July           812984352              0.74
3              Covaxin  June                1701              0.00
2              Covaxin  July                1386              0.00
1              CanSino  June            23502334              0.02
0              CanSino  July            18944134              0.02

In [16]:
def last_two_months_diff(a='Moderna'):
    last_two = last_two_months()['vaccine']==a
    month_a = last_two_months()[last_two]['pcnt_vaccination'].iloc[0]
    month_b = last_two_months()[last_two]['pcnt_vaccination'].iloc[1]
    return round(month_a-month_b,2)
last_two_months_diff()

IndexError: single positional indexer is out-of-bounds

In [ ]:
def covid_vaccine_treemap():
    vax_df0 = covid_vaccine().sort_values('date').groupby(['Month','location','vaccine']).last().reset_index()
    vax_df1 = vax_df0[{'Month','location','vaccine','total_vaccinations'}]
    return px.treemap(vax_df1, path=["Month","location","vaccine"],values="total_vaccinations",
                     title='Covid19 Vaccinations',
                      labels={"total_vaccinations": "Vaccinations"})

In [ ]:
def fig_bar_vax():
    return px.bar(pct_vaccination(), x='vaccine',y='pcnt_vaccination',color='vaccine',template="simple_white",
                  labels={'pcnt_vaccination': 'Percentage Vaccinations','vaccine':'Vaccine'})

In [ ]:
func_continent()['new_cases'].sum()

In [ ]:
#CO2 Footprint Breakdown Per Capita - Goodall (2011)
#CO2 emissions by sector (CAIT, 2021).csv
co2_url = 'https://raw.githubusercontent.com/gyleodhis/owid-datasets/master/datasets/CO2%20Footprint%20Breakdown%20Per%20Capita%20-%20Goodall%20(2011)/CO2%20Footprint%20Breakdown%20Per%20Capita%20-%20Goodall%20(2011).csv'
# co2_url=('assets/co2Footprint.csv')
co2_df = pd.read_csv(co2_url, index_col=0)
co2_df.to_csv('assets/co2Footprint.csv',index=False)
co2_df.sort_values(by='CO2 Footprint Breakdown Per Capita (Goodall (2011))')

In [ ]:
def load_data(a):
    return pd.read_csv(a,index_col=False)

In [ ]:
#Carbon dioxide (COâ‚‚) emissions broken down by sector, measured in tonnes per year. 
# cos_sector = 'https://raw.githubusercontent.com/gyleodhis/owid-datasets/master/datasets/CO2%20emissions%20by%20sector%20(CAIT%2C%202021)/CO2%20emissions%20by%20sector%20(CAIT%2C%202021).csv'
cos_sector = ('assets/COâ‚‚_Sector.csv')
def carbon_dioxide():
    cos_sector_df = load_data(cos_sector)
#     cos_sector_df.to_csv('assets/COâ‚‚_Sector.csv',index=False)
    cos_sector_df.drop(cos_sector_df.columns[[0]], axis=1, inplace=True)
    return cos_sector_df
carbon_dioxide()

In [ ]:
def emissions_by_year():
    co2_sector_df=carbon_dioxide().iloc[:,[0,1,3,5,7,9,11,13,17,24]]
    return co2_sector_df.groupby(['Year']).mean().reset_index()
emissions_by_year()

In [ ]:
def emissions_by_sctor():
    new_co2 = emissions_by_year().iloc[-1].to_frame().dropna()
#     new_co2.rename(columns={2018:'Amount'},inplace = True)
#     i = [0,7,6]
#     for a in i:new_co2=new_co2.drop(new_co2.index[a])
    new_co2['Percentage'] = round(new_co2.Amount*100/new_co2.Amount.sum(),2)
    new_co2.index = new_co2.index.str.replace(' \(per capita\)','')
#     new_co2.index[3] = 'Manufacturing '
    return new_co2.sort_values(by='Percentage')
emissions_by_sctor()   #['Percentage'][-1]

In [ ]:
def last_two_decades_emissions():
    last_two = round((emissions_by_year().iloc[-1]-emissions_by_year().
                      iloc[0])*100/emissions_by_year().iloc[0]).to_frame()
    last_two.index = last_two.index.str.replace(' \(per capita\)','')
    last_two.rename(columns={0:'% Change'},inplace = True)
    return last_two.sort_values(by='% Change')
#     new_co2.index = new_co2.index.str.replace(' \(per capita\)','')
#     return new_co2.sort_values(by='Percentage')
last_two_decades_emissions()#['% Change'][3]

In [ ]:
def top_emitters_by_year():
    top_co2_sector_df=carbon_dioxide().iloc[:,[0,1,3,5,7]]
    return top_co2_sector_df.groupby(['Year']).mean().reset_index()
top_emitters_by_year()

In [ ]:
def fig_corbon_line():
    return px.line(top_emitters_by_year(), x='Year', y=top_emitters_by_year().columns,
                  markers=True,template="simple_white",
                  labels={'value':'Amt in Tonnes','variable':'Sector'})
fig_corbon_line()

In [ ]:
#  df_covid_data_v1[['continent','location']]
def emission_with_continent():
    cos_with_continent = load_data(cos_sector).iloc[:,[0,1,2,4,6,8,10,12,14,16]]
    cos_with_continent.rename(columns={'Entity':'location'},inplace = True)
    df_continent = df_covid_data_v1[['continent','location']]
    cos_with_continent = cos_with_continent[cos_with_continent['Year']%5==0]
    return pd.merge(df_continent,cos_with_continent)
emission_with_continent()

In [ ]:
top_emitters_year=emission_with_continent().iloc[:,[0,2,6]]
top_emitters_year=top_emitters_year.groupby(['continent','Year']).mean()
top_emitters_year

In [ ]:
def top_emitter_by_year(a='Africa'):
    """Possible valies for a are Africa,Asia,Europe,North America,Oceania,South America"""
    top_emitters_year=emission_with_continent().iloc[:,[0,2,6]]
    df_top_emitters_year = top_emitters_year['continent'] == a
    top_emitters_year_new = top_emitters_year[df_top_emitters_year]
    top_emitters_year_new=top_emitters_year_new.groupby(['continent','Year']).mean()
#     if a == 'Africa':
#         df_cont_new.at[13,'location'] = 'DRC'
#     elif a == 'Asia':
#         df_cont_new.at[101,'location'] = 'UAE'
#     else: df_cont_new
    return top_emitters_year_new.reset_index()
top_emitter_by_year()

In [ ]:
def fig_top_emitter_by_year(a='Africa'):
    fig = px.area(top_emitter_by_year(a), x='Year', y="Energy", color="continent",
                  markers=True,template="simple_white",labels={'Energy':'Amt in Tonnes'})
    fig.layout.autosize
    return fig
fig_top_emitter_by_year('North America')

In [ ]:
def emission_by_continent(a='Africa'):
    return round(top_emitter_by_year(a).Energy.sum(),2)
emission_by_continent()

In [ ]:
def fig_emission_by_continent(a='Africa'):
    return daq.Thermometer(min=100,max=2000,value=emission_by_continent(a),showCurrentValue=True,units="Tones")
fig_emission_by_continent()