In [1]:
import pandas as pd
from datetime import datetime as dt
from functools import reduce
import calendar
import datetime
import plotly.express as px

In [2]:
covid_data = 'assets/covid_data.csv'
df_covid_data_v1 = pd.read_csv(covid_data)
df_covid_data_v1.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [3]:
def func_continent(a='Africa'):
    df_covid_data = df_covid_data_v1.sort_values('date').groupby(['continent','location']).last().reset_index()
#     df_covid_data = df_covid_data.reset_index()
    df_covid_cont = df_covid_data['continent'] == a
    df_cont_new = df_covid_data[df_covid_cont]
    if a == 'Africa':
        df_cont_new.at[13,'location'] = 'DRC'
    elif a == 'Asia':
        df_cont_new.at[101,'location'] = 'UAE'
    else: df_cont_new
    return  df_cont_new[['date','location','new_cases','new_deaths','icu_patients','hosp_patients',
                          'new_tests_per_thousand','positive_rate','new_vaccinations','people_vaccinated_per_hundred']]
func_continent('Asia')

,date,location,new_cases,new_deaths,icu_patients,hosp_patients,new_tests_per_thousand,positive_rate,new_vaccinations,people_vaccinated_per_hundred
55,2021-07-18,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,4015.0,1.98
56,2021-07-18,Armenia,132.0,7.0,NaN,NaN,1.911,0.030,NaN,6.44
57,2021-07-18,Azerbaijan,255.0,1.0,NaN,NaN,0.897,0.016,33869.0,25.45
58,2021-07-18,Bahrain,86.0,0.0,NaN,NaN,8.305,0.008,6318.0,64.43
59,2021-07-18,Bangladesh,11578.0,225.0,NaN,NaN,0.273,0.333,1872.0,3.54
60,2021-07-18,Bhutan,10.0,0.0,NaN,NaN,3.631,0.004,43.0,62.92
61,2021-07-18,Brunei,0.0,0.0,NaN,NaN,NaN,NaN,690.0,24.36
62,2021-07-18,Cambodia,845.0,30.0,NaN,NaN,0.435,0.035,166010.0,35.36
63,2021-07-18,China,31.0,0.0,NaN,NaN,NaN,NaN,9130000.0,43.21
64,2021-07-18,Georgia,1286.0,13.0,NaN,NaN,7.771,0.029,5768.0,4.40
65,2021-07-18,Hong Kong,2.0,0.0,NaN,NaN,NaN,0.000,55296.0,37.58
66,2021-07-18,India,38164.0,499.0,NaN,NaN,1.457,0.018,5235836.0,23.33
67,2021-07-18,Indonesia,44721.0,1093.0,NaN,NaN,0.678,0.293,461132.0,15.24
68,2021-07-18,Iran,22184.0,195.0,NaN,NaN,0.914,0.249,65532.0,5.23
69,2021-07-18,Iraq,8698.0,41.0,NaN,NaN,1.133,0.198,9985.0,1.74
70,2021-07-19,Israel,755.0,3.0,18.0,125.0,7.524,0.011,10474.0,66.36
71,2021-07-18,Japan,3065.0,3.0,NaN,NaN,0.534,0.039,580702.0,33.71
72,2021-07-18,Jordan,675.0,9.0,NaN,NaN,2.197,0.005,67092.0,26.56
73,2021-07-18,Kazakhstan,124.0,0.0,NaN,NaN,2.808,0.030,77737.0,25.95
74,2021-07-18,Kuwait,1189.0,10.0,NaN,NaN,3.590,0.109,NaN,34.00
75,2021-07-18,Kyrgyzstan,1373.0,10.0,NaN,NaN,NaN,NaN,205.0,1.53
76,2021-07-18,Laos,131.0,1.0,NaN,NaN,0.214,0.024,14671.0,14.27
77,2021-07-18,Lebanon,450.0,1.0,NaN,NaN,2.057,NaN,861.0,15.39
78,2021-07-18,Macao,NaN,NaN,NaN,NaN,NaN,NaN,4805.0,41.38
79,2021-07-18,Malaysia,10710.0,153.0,NaN,NaN,4.158,0.093,344961.0,30.33
80,2021-07-18,Maldives,63.0,0.0,NaN,NaN,10.617,0.017,4446.0,59.28
81,2021-07-18,Mongolia,1171.0,6.0,NaN,NaN,3.193,0.156,4664.0,64.27
82,2021-07-18,Myanmar,5285.0,231.0,NaN,NaN,0.215,0.303,3800.0,3.38
83,2021-07-18,Nepal,1223.0,23.0,NaN,NaN,0.283,0.225,89402.0,10.29
84,2021-06-27,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,795.0,28.50
85,2021-07-18,Oman,0.0,0.0,NaN,NaN,0.525,0.361,3650.0,28.14
86,2021-07-18,Pakistan,2452.0,30.0,NaN,NaN,0.171,0.042,513292.0,4.21
87,2021-07-18,Palestine,0.0,0.0,NaN,NaN,0.678,0.032,109.0,11.09
88,2021-07-18,Philippines,5396.0,116.0,NaN,NaN,0.460,0.111,391272.0,9.29
89,2021-07-18,Qatar,118.0,0.0,NaN,NaN,1.897,0.024,19961.0,66.50
90,2021-07-18,Saudi Arabia,0.0,0.0,NaN,NaN,3.033,0.010,383410.0,52.97
91,2021-07-18,Singapore,92.0,0.0,NaN,NaN,NaN,0.000,75863.0,70.71
92,2021-07-18,South Korea,1252.0,1.0,NaN,NaN,0.671,0.047,2804.0,31.47
93,2021-07-18,Sri Lanka,1420.0,46.0,NaN,NaN,0.620,0.117,195869.0,26.05
94,2021-07-18,Syria,7.0,1.0,NaN,NaN,NaN,NaN,NaN,0.70
95,2021-07-18,Taiwan,18.0,4.0,NaN,NaN,0.502,0.001,313013.0,20.12
96,2021-07-18,Tajikistan,41.0,0.0,NaN,NaN,NaN,NaN,NaN,3.96
97,2021-07-18,Thailand,11397.0,101.0,NaN,NaN,1.077,NaN,93273.0,15.45
98,2021-07-18,Timor,28.0,0.0,NaN,NaN,0.711,NaN,NaN,18.05
99,2021-07-18,Turkey,0.0,0.0,NaN,NaN,2.596,0.023,362069.0,46.20
100,2021-04-04,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.53
101,2021-07-18,UAE,1529.0,2.0,NaN,NaN,29.210,0.006,69059.0,77.60
102,2021-07-18,Uzbekistan,507.0,3.0,NaN,NaN,NaN,NaN,78652.0,6.20
103,2021-07-18,Vietnam,4843.0,29.0,NaN,NaN,0.915,0.027,22654.0,4.09
104,2021-07-18,Yemen,4.0,0.0,NaN,NaN,NaN,NaN,NaN,0.97

In [4]:
def fig_funnel(a='Africa'):
    return px.funnel(func_continent(a).nlargest(10, 'positive_rate'), x='positive_rate', y='location',
                       labels={"positive_rate": "New Positivity Rate", "location": "Country"})
# fig_funnel('South America')

In [5]:
def fig_bar(a='Africa'):
    return px.bar(func_continent(a).nlargest(10, 'new_cases'), x="location", template="simple_white",
           labels={"location": "Country", "new_cases": "New Cases"}, y="new_cases", barmode="group")
# fig_bar('South America')

In [6]:
def fig_pie(a='Africa'):
    return px.pie(func_continent(a).nlargest(10, 'new_vaccinations'), names='location', values='new_vaccinations',
                 labels={"new_vaccinations": "New Vaccinations", "location": "Country"})
# fig_pie('South America')

In [7]:
def fig_funnel_vaccine(a='Africa'):
    return px.funnel(func_continent(a).nlargest(10, 'people_vaccinated_per_hundred'),
                               x='people_vaccinated_per_hundred',
                               y='location', color='location',
                               labels={"people_vaccinated_per_hundred": "Vaccination per 100", "location": "Country"}).update_yaxes(showticklabels=False)
# fig_funnel_vaccine('North America')

In [8]:
df_covid_data_v1['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [9]:
"""Group By can be used to group the data into continents."""
df_cont_grouped = df_covid_data_v1.groupby('continent')
df_cont_grouped.size()

continent
Africa           26547
Asia             24418
Europe           24458
North America    12873
Oceania           4047
South America     6183
dtype: int64

In [10]:
df_cont_grouped.get_group('North America').nlargest(10, 'new_cases')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
98284,USA,North America,United States,2021-01-02,20554622.0,300462.0,207726.286,356854.0,2555.0,2710.000,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98290,USA,North America,United States,2021-01-08,22011753.0,295257.0,251084.714,376093.0,4097.0,3113.429,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98289,USA,North America,United States,2021-01-07,21716496.0,278337.0,230893.143,371996.0,4006.0,2832.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98291,USA,North America,United States,2021-01-09,22272720.0,260967.0,245442.571,379397.0,3304.0,3220.429,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98288,USA,North America,United States,2021-01-06,21438159.0,255637.0,224787.857,367990.0,3895.0,2750.571,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98269,USA,North America,United States,2020-12-18,17575536.0,251832.0,221064.286,318513.0,2969.0,2714.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98267,USA,North America,United States,2020-12-16,17083804.0,246644.0,218176.429,312045.0,3680.0,2705.143,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98297,USA,North America,United States,2021-01-15,23636613.0,242780.0,232122.857,399850.0,3909.0,3393.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98262,USA,North America,United States,2020-12-11,16028086.0,240089.0,215727.143,299509.0,3406.0,2504.000,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98268,USA,North America,United States,2020-12-17,17323704.0,239900.0,219386.714,315544.0,3499.0,2777.286,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN

### VACCINATIONS BY MANUCATURER

In [11]:
# vax_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv'
"""Offline version"""
vax_url = 'assets/vaccines.csv'
def covid_vaccine():
    vax_df = pd.read_csv(vax_url, index_col=0, parse_dates=['date'])
    vax_df.to_csv('assets/vaccines.csv')
    """Below returns months"""
    vax_df['Month'] =  pd.DatetimeIndex(vax_df['date']).month_name()
    """Below returns names of months. This is depricated"""
#     vax_df['Month']= vax_df['Month'].apply(lambda x: calendar.month_abbr[x])
    return vax_df
covid_vaccine().head()

               date             vaccine  total_vaccinations    Month
location
Austria  2021-01-08     Johnson&Johnson                   0  January
Austria  2021-01-08             Moderna                   0  January
Austria  2021-01-08             Novavax                   0  January
Austria  2021-01-08  Oxford/AstraZeneca                   0  January
Austria  2021-01-08     Pfizer/BioNTech               31639  January

In [12]:
vax_pivot = covid_vaccine().pivot_table(index=('Month','location','vaccine'),aggfunc = 'sum')
vax_pivot.head(5)

                                   total_vaccinations
Month location vaccine
April Austria  Johnson&Johnson                   1301
               Moderna                        1112000
               Novavax                              0
               Oxford/AstraZeneca             2915659
               Pfizer/BioNTech                8860866

In [13]:
def pct_vaccination():
    vax_by_pcnt = covid_vaccine()[['vaccine','total_vaccinations']].groupby('vaccine').sum().reset_index()
    vax_by_pcnt['pcnt_vaccination'] = round(vax_by_pcnt.total_vaccinations * 100 /vax_by_pcnt.total_vaccinations.sum(),2)
    return vax_by_pcnt.sort_values(['pcnt_vaccination'], ascending=[0])
pct_vaccination()

              vaccine  total_vaccinations  pcnt_vaccination
5     Pfizer/BioNTech        305299492963             66.22
2             Moderna         89436248881             19.40
4  Oxford/AstraZeneca         37552042914              8.14
7             Sinovac         12629391481              2.74
1     Johnson&Johnson         11106294419              2.41
6   Sinopharm/Beijing          4179629027              0.91
8           Sputnik V           647237198              0.14
0             CanSino           205380912              0.04
3             Novavax              894747              0.00

In [14]:
def df_this_month():
    vax_by_pcnt = covid_vaccine()[['Month','vaccine','total_vaccinations']].groupby('Month').sum().reset_index()
    vax_by_pcnt['pcnt_vaccination'] = round(vax_by_pcnt.total_vaccinations * 100 /vax_by_pcnt.total_vaccinations.sum(),2)
    return vax_by_pcnt.sort_values(['Month'], ascending=[0])
df_this_month()

        Month  total_vaccinations  pcnt_vaccination
11  September         41801603441              9.07
10    October         46644215365             10.12
9    November         46919149371             10.18
8         May         19383418389              4.20
7       March         12681566700              2.75
6        June         27023337430              5.86
5        July         36016826451              7.81
4     January         61713567985             13.39
3    February         61378551877             13.31
2    December         55505435833             12.04
1      August         40023608915              8.68
0       April         11959630755              2.59

In [15]:
"""Last 30 days vaccination stats"""
def last_two_months():
    df_last_60_days_vax = covid_vaccine()[covid_vaccine().date > datetime.datetime.now() - pd.to_timedelta("50day")]
    df_last_60_days_vax = df_last_60_days_vax[['Month','vaccine','total_vaccinations']].groupby(['vaccine','Month']).sum().reset_index()
    df_last_60_days_vax['pcnt_vaccination'] = round(df_last_60_days_vax.total_vaccinations * 100 /df_last_60_days_vax.total_vaccinations.sum(),2)
    return df_last_60_days_vax.sort_values(['vaccine'], ascending=[0])

last_two_months()

               vaccine     Month  total_vaccinations  pcnt_vaccination
26           Sputnik V     March             5535309              0.01
25           Sputnik V   January            18451030              0.02
24           Sputnik V  February            51662884              0.06
23             Sinovac     March            38463114              0.04
22             Sinovac   January           530775652              0.62
21             Sinovac  February          1145731611              1.33
20   Sinopharm/Beijing     March           104730518              0.12
19   Sinopharm/Beijing   January           220826246              0.26
18   Sinopharm/Beijing  February           820689981              0.95
17     Pfizer/BioNTech     March          4127461106              4.80
16     Pfizer/BioNTech   January         13878811248             16.13
15     Pfizer/BioNTech  February         39128776355             45.46
14  Oxford/AstraZeneca     March           368613402              0.43
13  Oxford/AstraZeneca   January          1242645839              1.44
12  Oxford/AstraZeneca  February          3496270945              4.06
11             Novavax     March              302615              0.00
10             Novavax   January                  42              0.00
9              Novavax  February              591258              0.00
8              Moderna     March          1422692761              1.65
7              Moderna   January          4614424021              5.36
6              Moderna  February         12853782855             14.93
5      Johnson&Johnson     March           151635898              0.18
4      Johnson&Johnson   January           478021844              0.56
3      Johnson&Johnson  February          1338404119              1.56
1              CanSino   January             9473922              0.01
2              CanSino     March              574255              0.00
0              CanSino  February            16077294              0.02

In [16]:
def last_two_months_diff(a='Moderna'):
    last_two = last_two_months()['vaccine']==a
    month_a = last_two_months()[last_two]['pcnt_vaccination'].iloc[0]
    month_b = last_two_months()[last_two]['pcnt_vaccination'].iloc[1]
    return round(month_a-month_b,2)
last_two_months_diff()

-3.71

In [17]:
def covid_vaccine_treemap():
    vax_df0 = covid_vaccine().sort_values('date').groupby(['Month','location','vaccine']).last().reset_index()
    vax_df1 = vax_df0[{'Month','location','vaccine','total_vaccinations'}]
    return px.treemap(vax_df1, path=["Month","location","vaccine"],values="total_vaccinations",
                     title='Covid19 Vaccinations',
                      labels={"total_vaccinations": "Vaccinations"})

In [18]:
def fig_bar_vax():
    return px.bar(pct_vaccination(), x='vaccine',y='pcnt_vaccination',color='vaccine',template="simple_white",
                  labels={'pcnt_vaccination': 'Percentage Vaccinations','vaccine':'Vaccine'})

In [19]:
func_continent()['new_cases'].sum()

36126.0

In [32]:
#CO2 Footprint Breakdown Per Capita - Goodall (2011)
#CO2 emissions by sector (CAIT, 2021).csv
# co2_url = 'https://raw.githubusercontent.com/gyleodhis/owid-datasets/master/datasets/CO2%20Footprint%20Breakdown%20Per%20Capita%20-%20Goodall%20(2011)/CO2%20Footprint%20Breakdown%20Per%20Capita%20-%20Goodall%20(2011).csv'
co2_url=('assets/co2Footprint.csv')
co2_df = pd.read_csv(co2_url, index_col=0)
co2_df.to_csv('assets/co2Footprint.csv')
co2_df.sort_values(by='CO2 Footprint Breakdown Per Capita (Goodall (2011))')

,Year,CO2 Footprint Breakdown Per Capita (Goodall (2011))
Entity,,
Cooking,2011,1%
Public transport,2011,1%
Aviation,2011,13%
Car Travel,2011,13%
Heating,2011,13%
Lighting,2011,2%
Food,2011,24%
Consumer electronics,2011,3%
Making motor vehicles,2011,3%
Water heating,2011,3%
Paper,2011,4%
Electrical appliances,2011,8%
"Clothing, textiles",2011,9%

In [42]:
def load_data(a):
    return pd.read_csv(a,index_col=None)

In [124]:
#Carbon dioxide (COâ‚‚) emissions broken down by sector, measured in tonnes per year. 
# cos_sector = 'https://raw.githubusercontent.com/gyleodhis/owid-datasets/master/datasets/CO2%20emissions%20by%20sector%20(CAIT%2C%202021)/CO2%20emissions%20by%20sector%20(CAIT%2C%202021).csv'
cos_sector = ('assets/COâ‚‚_Sector.csv')
def carbon_dioxide():
    cos_sector_df = load_data(cos_sector)
    cos_sector_df.drop(cos_sector_df.columns[[0]], axis=1, inplace=True)
#     cos_sector_df.to_csv('assets/COâ‚‚_Sector.csv')
    return cos_sector_df
carbon_dioxide()

,Entity,Year,Aviation and shipping,Aviation and shipping (per capita),Buildings,Buildings (per capita),Electricity and heat,Electricity and heat (per capita),Energy,Energy (per capita),...,Manufacturing and construction,Manufacturing and construction (per capita),Other fuel combustion,Other fuel combustion (per capita),Total excluding LUCF,Total excluding LUCF (per capita),Total including LUCF,Total including LUCF (per capita),Transport,Transport (per capita)
0,Afghanistan,1990,0.02,0.001611,0.08,0.006445,0.27,0.021753,2.92,0.235250,...,0.57,0.045922,0.00,0.000000,2.96,0.238473,0.58,0.046728,1.67,0.134544
1,Afghanistan,1991,0.02,0.001504,0.07,0.005264,0.27,0.020302,2.69,0.202271,...,0.53,0.039853,0.00,0.000000,2.74,0.206030,0.35,0.026318,1.55,0.116550
2,Afghanistan,1992,0.02,0.001381,0.03,0.002071,0.16,0.011045,1.38,0.095267,...,0.39,0.026923,0.00,0.000000,1.43,0.098719,-0.96,-0.066273,0.77,0.053156
3,Afghanistan,1993,0.02,0.001264,0.03,0.001897,0.16,0.010116,1.31,0.082824,...,0.38,0.024025,0.00,0.000000,1.36,0.085986,-1.03,-0.065121,0.74,0.046786
4,Afghanistan,1994,0.02,0.001171,0.02,0.001171,0.16,0.009370,1.26,0.073789,...,0.36,0.021083,0.00,0.000000,1.30,0.076131,-1.08,-0.063248,0.71,0.041579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5650,Zimbabwe,2014,0.05,0.003680,0.19,0.013984,6.85,0.504169,11.64,0.856720,...,1.07,0.078753,0.89,0.065505,12.15,0.894256,23.47,1.727423,2.64,0.194308
5651,Zimbabwe,2015,0.10,0.007239,0.22,0.015925,7.21,0.521910,11.90,0.861405,...,1.09,0.078902,0.81,0.058633,12.40,0.897598,23.72,1.717019,2.57,0.186034
5652,Zimbabwe,2016,0.15,0.010691,0.23,0.016393,6.22,0.443325,10.41,0.741964,...,1.09,0.077689,0.68,0.048466,10.99,0.783303,98.15,6.995555,2.18,0.155378
5653,Zimbabwe,2017,0.18,0.012643,0.22,0.015453,5.41,0.380006,9.65,0.677830,...,1.12,0.078670,0.66,0.046359,10.23,0.718570,97.40,6.841522,2.24,0.157341
5654,Zimbabwe,2018,0.22,0.015237,0.23,0.015929,6.60,0.457101,11.68,0.808931,...,1.19,0.082417,0.79,0.054714,12.27,0.849793,99.43,6.886301,2.87,0.198770

In [113]:
def emissions_by_year():
    co2_sector_df=carbon_dioxide().iloc[:,[1,3,5,7,9,11,13,17,25]]
    return co2_sector_df.groupby(['Year']).mean()
emissions_by_year()

,Aviation and shipping (per capita),Buildings (per capita),Electricity and heat (per capita),Energy (per capita),Fugitive emissions (per capita),Industry (per capita),Manufacturing and construction (per capita),Transport (per capita)
Year,,,,,,,,
1990,0.459214,0.410748,1.862599,4.188209,0.109509,0.095225,0.885537,0.837795
1991,0.463481,0.412546,1.799015,4.155641,0.178730,0.091663,0.857233,0.831777
1992,0.506752,0.375408,1.848871,4.053702,0.080926,0.098489,0.774702,0.888578
1993,0.487590,0.376958,1.842118,4.017287,0.100284,0.093822,0.741083,0.887040
1994,0.495085,0.372288,1.851287,3.988885,0.097019,0.098965,0.725712,0.886014
1995,0.490964,0.377077,1.836536,3.976666,0.097136,0.100988,0.707117,0.901672
1996,0.490496,0.393272,1.871416,4.042433,0.101350,0.102299,0.700151,0.923103
1997,0.512200,0.383292,1.890915,4.059746,0.101837,0.101658,0.685069,0.943972
1998,0.511855,0.370306,1.915156,4.073698,0.097753,0.102955,0.671330,0.954318
1999,0.520030,0.370236,1.913837,4.056182,0.097772,0.102885,0.648523,0.956086
2000,0.537774,0.352193,1.881722,4.056936,0.091895,0.104607,0.647085,0.950178
2001,0.532835,0.357978,1.939214,4.146482,0.089046,0.102979,0.660706,0.969359
2002,0.535484,0.355492,1.988163,4.189177,0.080994,0.105324,0.642303,0.991417
2003,0.541867,0.364483,2.059352,4.280429,0.070558,0.107581,0.630361,1.014853
2004,0.568241,0.365939,2.059402,4.340324,0.078485,0.112442,0.643396,1.054165
2005,0.566837,0.360413,2.074434,4.435493,0.129986,0.113421,0.643587,1.071895
2006,0.583574,0.353475,2.108171,4.485971,0.108726,0.118372,0.673168,1.090508
2007,0.591614,0.341778,2.086534,4.441022,0.091256,0.124454,0.671539,1.115655
2008,0.610687,0.351823,2.060540,4.410023,0.088995,0.125905,0.660240,1.148398
2009,0.639984,0.364999,2.143010,4.491866,0.086729,0.112248,0.584997,1.223160
2010,0.603588,0.359904,2.042687,4.257834,0.072622,0.111298,0.596117,1.109004
2011,0.608680,0.344264,2.048051,4.225379,0.057251,0.114900,0.590532,1.113280
2012,0.608124,0.347041,2.058047,4.326367,0.065555,0.114249,0.598096,1.127193
2013,0.587330,0.345696,1.975057,4.209645,0.061033,0.116515,0.591513,1.096378
2014,0.588285,0.319745,1.915095,4.111622,0.058859,0.121856,0.577374,1.112246
2015,0.614028,0.328056,1.889837,4.071290,0.178311,0.120307,0.561033,1.111453
2016,0.653740,0.335122,1.880493,4.085753,0.166872,0.119624,0.552746,1.148971
2017,0.693480,0.335429,1.865334,4.090995,0.164497,0.119908,0.556455,1.165884
2018,0.710689,0.336887,1.854149,4.093584,0.158550,0.118675,0.565523,1.175712

In [114]:
def emissions_by_sctor():
    new_co2 = emissions_by_year().iloc[-1].to_frame().dropna()
    new_co2.rename(columns={2018:'Amount'},inplace = True)
#     i = [0,7,6]
#     for a in i:new_co2=new_co2.drop(new_co2.index[a])
    new_co2['Percentage'] = round(new_co2.Amount*130/new_co2.Amount.sum(),2)
    new_co2.index = new_co2.index.str.replace(' \(per capita\)','')
#     new_co2.index[3] = 'Manufacturing '
    return new_co2.sort_values(by='Percentage')
emissions_by_sctor()   #['Percentage'][-1]

C:\Users\gyleo\AppData\Local\Temp/ipykernel_9296/3662110426.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  new_co2.index = new_co2.index.str.replace(' \(per capita\)','')

                                  Amount  Percentage
Industry                        0.118675        1.71
Fugitive emissions              0.158550        2.29
Buildings                       0.336887        4.86
Manufacturing and construction  0.565523        8.16
Aviation and shipping           0.710689       10.25
Transport                       1.175712       16.96
Electricity and heat            1.854149       26.74
Energy                          4.093584       59.04

In [192]:
def last_two_decades_emissions():
    last_two = round((emissions_by_year().iloc[-1]-emissions_by_year().
                      iloc[0])*100/emissions_by_year().iloc[0]).to_frame()
    last_two.index = last_two.index.str.replace(' \(per capita\)','')
    last_two.rename(columns={0:'% Change'},inplace = True)
    return last_two.sort_values(by='% Change')
#     new_co2.index = new_co2.index.str.replace(' \(per capita\)','')
#     return new_co2.sort_values(by='Percentage')
last_two_decades_emissions()#['% Change'][3]

C:\Users\gyleo\AppData\Local\Temp/ipykernel_9296/1245239884.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  last_two.index = last_two.index.str.replace(' \(per capita\)','')

                                % Change
Manufacturing and construction     -36.0
Buildings                          -18.0
Energy                              -2.0
Electricity and heat                -0.0
Industry                            25.0
Transport                           40.0
Fugitive emissions                  45.0
Aviation and shipping               55.0