In [1]:
import pandas as pd
from datetime import datetime as dt
from functools import reduce
import calendar
import datetime
import plotly.express as px

In [2]:
covid_data = 'assets/covid_data.csv'
df_covid_data_v1 = pd.read_csv(covid_data)
df_covid_data_v1.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [3]:
def func_continent(a='Africa'):
    df_covid_data = df_covid_data_v1.sort_values('date').groupby(['continent','location']).last().reset_index()
#     df_covid_data = df_covid_data.reset_index()
    df_covid_cont = df_covid_data['continent'] == a
    df_cont_new = df_covid_data[df_covid_cont]
    if a == 'Africa':
        df_cont_new.at[13,'location'] = 'DRC'
    elif a == 'Asia':
        df_cont_new.at[101,'location'] = 'UAE'
    else: df_cont_new
    return  df_cont_new[{'date','location','new_cases','new_deaths','icu_patients','hosp_patients',
                          'new_tests_per_thousand','positive_rate','new_vaccinations','people_vaccinated_per_hundred'}]
func_continent('Asia')

,new_vaccinations,icu_patients,new_deaths,hosp_patients,people_vaccinated_per_hundred,new_cases,location,new_tests_per_thousand,date,positive_rate
55,4015.0,NaN,0.0,NaN,1.98,0.0,Afghanistan,NaN,2021-07-18,NaN
56,NaN,NaN,7.0,NaN,6.44,132.0,Armenia,1.911,2021-07-18,0.030
57,33869.0,NaN,1.0,NaN,25.45,255.0,Azerbaijan,0.897,2021-07-18,0.016
58,6318.0,NaN,0.0,NaN,64.43,86.0,Bahrain,8.305,2021-07-18,0.008
59,1872.0,NaN,225.0,NaN,3.54,11578.0,Bangladesh,0.273,2021-07-18,0.333
60,43.0,NaN,0.0,NaN,62.92,10.0,Bhutan,3.631,2021-07-18,0.004
61,690.0,NaN,0.0,NaN,24.36,0.0,Brunei,NaN,2021-07-18,NaN
62,166010.0,NaN,30.0,NaN,35.36,845.0,Cambodia,0.435,2021-07-18,0.035
63,9130000.0,NaN,0.0,NaN,43.21,31.0,China,NaN,2021-07-18,NaN
64,5768.0,NaN,13.0,NaN,4.40,1286.0,Georgia,7.771,2021-07-18,0.029
65,55296.0,NaN,0.0,NaN,37.58,2.0,Hong Kong,NaN,2021-07-18,0.000
66,5235836.0,NaN,499.0,NaN,23.33,38164.0,India,1.457,2021-07-18,0.018
67,461132.0,NaN,1093.0,NaN,15.24,44721.0,Indonesia,0.678,2021-07-18,0.293
68,65532.0,NaN,195.0,NaN,5.23,22184.0,Iran,0.914,2021-07-18,0.249
69,9985.0,NaN,41.0,NaN,1.74,8698.0,Iraq,1.133,2021-07-18,0.198
70,10474.0,18.0,3.0,125.0,66.36,755.0,Israel,7.524,2021-07-19,0.011
71,580702.0,NaN,3.0,NaN,33.71,3065.0,Japan,0.534,2021-07-18,0.039
72,67092.0,NaN,9.0,NaN,26.56,675.0,Jordan,2.197,2021-07-18,0.005
73,77737.0,NaN,0.0,NaN,25.95,124.0,Kazakhstan,2.808,2021-07-18,0.030
74,NaN,NaN,10.0,NaN,34.00,1189.0,Kuwait,3.590,2021-07-18,0.109
75,205.0,NaN,10.0,NaN,1.53,1373.0,Kyrgyzstan,NaN,2021-07-18,NaN
76,14671.0,NaN,1.0,NaN,14.27,131.0,Laos,0.214,2021-07-18,0.024
77,861.0,NaN,1.0,NaN,15.39,450.0,Lebanon,2.057,2021-07-18,NaN
78,4805.0,NaN,NaN,NaN,41.38,NaN,Macao,NaN,2021-07-18,NaN
79,344961.0,NaN,153.0,NaN,30.33,10710.0,Malaysia,4.158,2021-07-18,0.093
80,4446.0,NaN,0.0,NaN,59.28,63.0,Maldives,10.617,2021-07-18,0.017
81,4664.0,NaN,6.0,NaN,64.27,1171.0,Mongolia,3.193,2021-07-18,0.156
82,3800.0,NaN,231.0,NaN,3.38,5285.0,Myanmar,0.215,2021-07-18,0.303
83,89402.0,NaN,23.0,NaN,10.29,1223.0,Nepal,0.283,2021-07-18,0.225
84,795.0,NaN,NaN,NaN,28.50,NaN,Northern Cyprus,NaN,2021-06-27,NaN
85,3650.0,NaN,0.0,NaN,28.14,0.0,Oman,0.525,2021-07-18,0.361
86,513292.0,NaN,30.0,NaN,4.21,2452.0,Pakistan,0.171,2021-07-18,0.042
87,109.0,NaN,0.0,NaN,11.09,0.0,Palestine,0.678,2021-07-18,0.032
88,391272.0,NaN,116.0,NaN,9.29,5396.0,Philippines,0.460,2021-07-18,0.111
89,19961.0,NaN,0.0,NaN,66.50,118.0,Qatar,1.897,2021-07-18,0.024
90,383410.0,NaN,0.0,NaN,52.97,0.0,Saudi Arabia,3.033,2021-07-18,0.010
91,75863.0,NaN,0.0,NaN,70.71,92.0,Singapore,NaN,2021-07-18,0.000
92,2804.0,NaN,1.0,NaN,31.47,1252.0,South Korea,0.671,2021-07-18,0.047
93,195869.0,NaN,46.0,NaN,26.05,1420.0,Sri Lanka,0.620,2021-07-18,0.117
94,NaN,NaN,1.0,NaN,0.70,7.0,Syria,NaN,2021-07-18,NaN
95,313013.0,NaN,4.0,NaN,20.12,18.0,Taiwan,0.502,2021-07-18,0.001
96,NaN,NaN,0.0,NaN,3.96,41.0,Tajikistan,NaN,2021-07-18,NaN
97,93273.0,NaN,101.0,NaN,15.45,11397.0,Thailand,1.077,2021-07-18,NaN
98,NaN,NaN,0.0,NaN,18.05,28.0,Timor,0.711,2021-07-18,NaN
99,362069.0,NaN,0.0,NaN,46.20,0.0,Turkey,2.596,2021-07-18,0.023
100,NaN,NaN,NaN,NaN,0.53,NaN,Turkmenistan,NaN,2021-04-04,NaN
101,69059.0,NaN,2.0,NaN,77.60,1529.0,UAE,29.210,2021-07-18,0.006
102,78652.0,NaN,3.0,NaN,6.20,507.0,Uzbekistan,NaN,2021-07-18,NaN
103,22654.0,NaN,29.0,NaN,4.09,4843.0,Vietnam,0.915,2021-07-18,0.027
104,NaN,NaN,0.0,NaN,0.97,4.0,Yemen,NaN,2021-07-18,NaN

In [4]:
def fig_funnel(a='Africa'):
    return px.funnel(func_continent(a).nlargest(10, 'positive_rate'), x='positive_rate', y='location',
                       labels={"positive_rate": "New Positivity Rate", "location": "Country"})
# fig_funnel('South America')

In [44]:
def fig_bar(a='Africa'):
    return px.bar(func_continent(a).nlargest(10, 'new_cases'), x="location", template="simple_white",
           labels={"location": "Country", "new_cases": "New Cases"}, y="new_cases", barmode="group")
# fig_bar('South America')

In [6]:
def fig_pie(a='Africa'):
    return px.pie(func_continent(a).nlargest(10, 'new_vaccinations'), names='location', values='new_vaccinations',
                 labels={"new_vaccinations": "New Vaccinations", "location": "Country"})
# fig_pie('South America')

In [7]:
def fig_funnel_vaccine(a='Africa'):
    return px.funnel(func_continent(a).nlargest(10, 'people_vaccinated_per_hundred'),
                               x='people_vaccinated_per_hundred',
                               y='location', color='location',
                               labels={"people_vaccinated_per_hundred": "Vaccination per 100", "location": "Country"}).update_yaxes(showticklabels=False)
# fig_funnel_vaccine('North America')

In [8]:
df_covid_data_v1['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [9]:
"""Group By can be used to group the data into continents."""
df_cont_grouped = df_covid_data_v1.groupby('continent')
df_cont_grouped.size()

continent
Africa           26547
Asia             24418
Europe           24458
North America    12873
Oceania           4047
South America     6183
dtype: int64

In [10]:
df_cont_grouped.get_group('North America').nlargest(10, 'new_cases')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
98284,USA,North America,United States,2021-01-02,20554622.0,300462.0,207726.286,356854.0,2555.0,2710.000,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98290,USA,North America,United States,2021-01-08,22011753.0,295257.0,251084.714,376093.0,4097.0,3113.429,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98289,USA,North America,United States,2021-01-07,21716496.0,278337.0,230893.143,371996.0,4006.0,2832.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98291,USA,North America,United States,2021-01-09,22272720.0,260967.0,245442.571,379397.0,3304.0,3220.429,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98288,USA,North America,United States,2021-01-06,21438159.0,255637.0,224787.857,367990.0,3895.0,2750.571,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98269,USA,North America,United States,2020-12-18,17575536.0,251832.0,221064.286,318513.0,2969.0,2714.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98267,USA,North America,United States,2020-12-16,17083804.0,246644.0,218176.429,312045.0,3680.0,2705.143,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98297,USA,North America,United States,2021-01-15,23636613.0,242780.0,232122.857,399850.0,3909.0,3393.857,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98262,USA,North America,United States,2020-12-11,16028086.0,240089.0,215727.143,299509.0,3406.0,2504.000,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN
98268,USA,North America,United States,2020-12-17,17323704.0,239900.0,219386.714,315544.0,3499.0,2777.286,...,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926,NaN

### VACCINATIONS BY MANUCATURER

In [66]:
# vax_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv'
"""Offline version"""
vax_url = 'assets/vaccines.csv'
def covid_vaccine():
    vax_df = pd.read_csv(vax_url, index_col=0, parse_dates=['date'])
#     vax_df.to_csv('assets/vaccines.csv')
    """Below returns months in numbers"""
    vax_df['Month'] =  pd.DatetimeIndex(vax_df['date']).month
    """Below returns names of months"""
    vax_df['Month']= vax_df['Month'].apply(lambda x: calendar.month_abbr[x])
    return vax_df
covid_vaccine().head()

               date             vaccine  total_vaccinations Month
location
Austria  2021-01-08     Johnson&Johnson                   0   Jan
Austria  2021-01-08             Moderna                   0   Jan
Austria  2021-01-08  Oxford/AstraZeneca                   0   Jan
Austria  2021-01-08     Pfizer/BioNTech               31295   Jan
Austria  2021-01-15     Johnson&Johnson                   0   Jan

In [67]:
vax_pivot = covid_vaccine().pivot_table(index=('Month','location','vaccine'),aggfunc = 'sum')
vax_pivot.head(5)

                                   total_vaccinations
Month location vaccine
Apr   Austria  Johnson&Johnson                    904
               Moderna                        1104197
               Oxford/AstraZeneca             2900293
               Pfizer/BioNTech                8790539
      Belgium  Johnson&Johnson                   3068

In [68]:
def pct_vaccination():
    vax_by_pcnt = covid_vaccine()[['vaccine','total_vaccinations']].groupby('vaccine').sum().reset_index()
    vax_by_pcnt['pcnt_vaccination'] = round(vax_by_pcnt.total_vaccinations * 100 /vax_by_pcnt.total_vaccinations.sum(),2)
    return vax_by_pcnt.sort_values(['pcnt_vaccination'], ascending=[0])
pct_vaccination()

              vaccine  total_vaccinations  pcnt_vaccination
4     Pfizer/BioNTech        174374167889             65.66
2             Moderna         50983126290             19.20
3  Oxford/AstraZeneca         24866255214              9.36
6             Sinovac          7635688454              2.88
1     Johnson&Johnson          6624130684              2.49
5   Sinopharm/Beijing           527100770              0.20
7           Sputnik V           453686316              0.17
0             CanSino           116672467              0.04

In [69]:
def df_this_month():
    vax_by_pcnt = covid_vaccine()[['Month','vaccine','total_vaccinations']].groupby('Month').sum().reset_index()
    vax_by_pcnt['pcnt_vaccination'] = round(vax_by_pcnt.total_vaccinations * 100 /vax_by_pcnt.total_vaccinations.sum(),2)
    return vax_by_pcnt.sort_values(['Month'], ascending=[0])
df_this_month()

   Month  total_vaccinations  pcnt_vaccination
11   Sep         40781756101             15.36
10   Oct         45212027611             17.02
9    Nov         36971302112             13.92
8    May         19292750167              7.26
7    Mar          6442857252              2.43
6    Jun         26825099904             10.10
5    Jul         35629614642             13.42
4    Jan           631664120              0.24
3    Feb          2525461788              0.95
2    Dec             1444347              0.00
1    Aug         39344958144             14.81
0    Apr         11921891896              4.49

In [79]:
"""Last 30 days vaccination stats"""
def last_two_months():
    df_last_60_days_vax = covid_vaccine()[covid_vaccine().date > datetime.datetime.now() - pd.to_timedelta("50day")]
    df_last_60_days_vax = df_last_60_days_vax[['Month','vaccine','total_vaccinations']].groupby(['vaccine','Month']).sum().reset_index()
    df_last_60_days_vax['pcnt_vaccination'] = round(df_last_60_days_vax.total_vaccinations * 100 /df_last_60_days_vax.total_vaccinations.sum(),2)
    return df_last_60_days_vax.sort_values(['vaccine'], ascending=[0])

last_two_months()

               vaccine Month  total_vaccinations  pcnt_vaccination
14           Sputnik V   Nov            49702512              0.07
15           Sputnik V   Oct            53339423              0.07
12             Sinovac   Nov          1125523190              1.53
13             Sinovac   Oct          1125595185              1.53
10   Sinopharm/Beijing   Nov            58107955              0.08
11   Sinopharm/Beijing   Oct            61912860              0.08
8      Pfizer/BioNTech   Nov         24831975335             33.79
9      Pfizer/BioNTech   Oct         24439464372             33.26
6   Oxford/AstraZeneca   Nov          3115899697              4.24
7   Oxford/AstraZeneca   Oct          3358574470              4.57
4              Moderna   Nov          6736814132              9.17
5              Moderna   Oct          6459397369              8.79
2      Johnson&Johnson   Nov          1031422805              1.40
3      Johnson&Johnson   Oct           996521225              1.36
0              CanSino   Nov            21856486              0.03
1              CanSino   Oct            24203200              0.03

In [102]:
def last_two_months_diff(a='Moderna'):
    last_two = last_two_months()['vaccine']==a
    month_a = last_two_months()[last_two]['pcnt_vaccination'].iloc[0]
    month_b = last_two_months()[last_two]['pcnt_vaccination'].iloc[1]
    return round(month_a-month_b,2)
last_two_months_diff()

0.38

In [50]:
def covid_vaccine_treemap():
    vax_df0 = covid_vaccine().sort_values('date').groupby(['Month','location','vaccine']).last().reset_index()
    vax_df1 = vax_df0[{'Month','location','vaccine','total_vaccinations'}]
    return px.treemap(vax_df1, path=["Month","location","vaccine"],values="total_vaccinations",
                     title='Covid19 Vaccinations',
                      labels={"total_vaccinations": "Vaccinations"})

In [49]:
def fig_bar_vax():
    return px.bar(pct_vaccination(), x='vaccine',y='pcnt_vaccination',color='vaccine',template="simple_white",
                  labels={'pcnt_vaccination': 'Percentage Vaccinations','vaccine':'Vaccine'})