In [1]:
import pandas as pd
import wbgapi as wb
import plotly.express as px
from utils.config import Rabet_bg_color,Rabet_color_palette
from prophet import Prophet

theme_color = ["plotly", "plotly_white", "plotly_dark", "ggplot2", "seaborn", "simple_white", "none"]

/opt/anaconda3/envs/mydev/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def getCo2Emission():
    df_income = wb.data.DataFrame('EN.GHG.CH4.WA.MT.CE.AR5',
                                    economy=wb.region.members('AFR'),labels=True)
    df_income = df_income.reset_index(drop=True).set_index('Country')
    df_income = df_income.iloc[1:,-20:-3].reset_index()
    df_income.loc[60] = df_income.sum(numeric_only=True)
    df_income['Country'] = df_income['Country'].fillna('Africa')
    df_income['Diff_Gain'] = df_income['YR2004']-df_income['YR2020']
    df_income.sort_values(by='YR2020', inplace=True,ascending=False)
    df_income = df_income.round(2)
    return df_income.reset_index(drop=True)
df_getCo2Emission=getCo2Emission()
df_getCo2Emission.head()

/opt/anaconda3/envs/mydev/lib/python3.10/site-packages/wbgapi/data.py:327: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dummy = pd.Series()    # empty series - never assigned actual values

,Country,YR2004,YR2005,YR2006,YR2007,YR2008,YR2009,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,Diff_Gain
0,Africa,201.76,207.64,210.25,215.78,222.52,228.06,235.66,242.86,252.55,260.06,267.46,275.10,282.39,290.49,298.46,306.61,314.31,-112.55
1,Nigeria,25.76,26.67,27.68,28.77,29.92,31.16,32.46,33.75,35.10,36.52,38.01,39.40,40.61,41.95,43.27,44.56,45.89,-20.13
2,South Africa,20.96,21.46,22.23,22.73,23.35,23.01,23.66,24.11,25.90,26.76,26.78,26.88,27.01,27.43,27.65,27.98,28.09,-7.13
3,Morocco,15.25,15.63,16.15,16.72,17.00,17.49,18.01,18.58,19.10,19.68,19.94,20.56,20.98,21.52,22.02,22.51,22.99,-7.74
4,"Egypt, Arab Rep.",16.36,16.72,17.21,16.91,17.38,17.66,18.37,18.95,19.77,19.69,20.07,20.33,20.71,21.45,21.87,22.43,22.94,-6.58

In [129]:
# wb.source.info() # especially useful for seeing what databases are available
# wb.series.info(db=77)
# LIST REGIONS
# wb.region.info()
# wb.economy.info('CAN')
# wb.economy.info(['USA', 'MEX', 'ARG','KEN'])
wb.series.info(q='tax')
# wb.economy.info(q='korea')
# wb.series.metadata.get('EN.ATM.CO2E.PC')

id                 value
-----------------  -------------------------------------------------------------------------------------
GC.TAX.EXPT.CN     Taxes on exports (current LCU)
GC.TAX.EXPT.ZS     Taxes on exports (% of tax revenue)
GC.TAX.GSRV.CN     Taxes on goods and services (current LCU)
GC.TAX.GSRV.RV.ZS  Taxes on goods and services (% of revenue)
GC.TAX.GSRV.VA.ZS  Taxes on goods and services (% value added of industry and services)
GC.TAX.INTT.CN     Taxes on international trade (current LCU)
GC.TAX.INTT.RV.ZS  Taxes on international trade (% of revenue)
GC.TAX.OTHR.CN     Other taxes (current LCU)
GC.TAX.OTHR.RV.ZS  Other taxes (% of revenue)
GC.TAX.TOTL.CN     Tax revenue (current LCU)
GC.TAX.TOTL.GD.ZS  Tax revenue (% of GDP)
GC.TAX.YPKG.CN     Taxes on income, profits and capital gains (current LCU)
GC.TAX.YPKG.RV.ZS  Taxes on income, profits and capital gains (% of revenue)
GC.TAX.YPKG.ZS     Taxes on income, profits and capital gains (% of total taxes)
IC.FRM.INFM.ZS     Firms that do not report all sales for tax purposes (% of firms)
IC.FRM.METG.ZS     Firms visited or required meetings with tax officials (% of firms)
IC.TAX.DURS        Time to prepare and pay taxes (hours)
IC.TAX.GIFT.ZS     Firms expected to give gifts in meetings with tax officials (% of firms)
IC.TAX.LABR.CP.ZS  Labor tax and contributions (% of commercial profits)
IC.TAX.METG        Number of visits or required meetings with tax officials (average for affected firms)
IC.TAX.OTHR.CP.ZS  Other taxes payable by businesses (% of commercial profits)
IC.TAX.PAYM        Tax payments (number)
IC.TAX.PRFT.CP.ZS  Profit tax (% of commercial profits)
IC.TAX.TOTL.CP.ZS  Total tax and contribution rate (% of profit)
NY.TAX.NIND.CD     Taxes less subsidies on products (current US$)
NY.TAX.NIND.CN     Taxes less subsidies on products (current LCU)
NY.TAX.NIND.KN     Taxes less subsidies on products (constant LCU)
                   27 elements

In [124]:
df_cereal = wb.data.DataFrame('SI.RMT.COST.IB.ZS',economy=wb.region.members('AFR'), labels=True)
df_cereal.head(60)

/opt/anaconda3/envs/mydev/lib/python3.10/site-packages/wbgapi/data.py:327: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dummy = pd.Series()    # empty series - never assigned actual values

,Country,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,...,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
economy,,,,,,,,,,,,,,,,,,,,,
GNB,Guinea-Bissau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MWI,Malawi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.158610,12.183120,11.193140,15.725430,9.395780,7.590000,-10.493334,-49.693334
BDI,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEN,Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.473810,4.405425,3.454165,4.223810,3.547615,3.614165,1.328334,0.720000
GMB,"Gambia, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.642490,6.101540,6.098870,6.358860,1.699850,7.260000,5.533333,6.760000
NER,Niger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EGY,"Egypt, Arab Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.275791,6.215062,4.303596,4.911591,4.705607,4.774050,3.930278,3.303095
BWA,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.202220,12.092670,10.556740,12.618240,10.017260,10.060000,6.893333,8.412857
MDG,Madagascar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.420420,9.872870,NaN,12.800850,14.485830,16.595000,8.420000,2.925000
GIN,Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SWZ,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.701240,10.246720,10.789050,NaN,1.459120,0.730000,1.820000,1.820000
MUS,Mauritius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GHA,Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.846210,5.399316,3.908126,4.608692,3.476578,3.326668,1.424667,2.008500
DJI,Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SDN,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.669143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.646690,11.490275,10.187010,11.396920,9.179685,7.581665,5.463334,8.128334
COG,"Congo, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TUN,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.486990,10.649200,8.834635,9.511760,8.990190,10.284475,8.917500,5.536666
CPV,Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.708485,8.737980,5.953740,7.280225,5.782475,5.893335,6.735000,3.437500
SYC,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CMR,Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.452380,3.564290,4.928570,3.211910,2.119050,2.890000,2.400000,3.023333
ZAF,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.538110,6.037540,3.838885,4.376210,5.232910,3.455000,2.065000,4.554167
ZWE,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.293770,7.892395,6.600623,6.864623,5.624553,5.406250,3.483334,5.259500
ETH,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.226833,7.618832,4.704383,5.950160,6.576447,6.100833,3.975833,3.414792
BFA,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MAR,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.460466,6.569180,5.834111,5.174117,5.216834,5.415191,4.963572,4.173619
LBY,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MRT,Mauritania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TGO,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.450140,6.809525,7.658683,5.828137,7.742507,2.580000,0.510000,2.061250
GNQ,Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NAM,Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LBR,Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.915000,NaN,4.830000,4.497500,2.996670,1.250000,2.875000,2.833333
SSD,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.622027,16.035120,NaN,NaN,4.983220,5.290000,2.570000,6.470000
COD,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.592140,8.663940,6.052170,NaN,7.869440,7.873330,7.960000,1.980000
GAB,Gabon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STP,Sao Tome and Principe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOZ,Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.705265,5.715080,8.960950,11.671020,10.662210,10.993330,6.460000,3.785000
AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.680540,12.092670,12.704370,18.721550,13.808490,12.190000,8.183333,12.784000
UGA,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.210047,5.012183,2.242003,5.205203,6.879460,7.774443,5.484444,8.861667
CAF,Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CIV,Cote d'Ivoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.612240,3.497620,3.497620,2.545290,1.190480,2.090000,0.376667,0.743333
ERI,Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.394585,13.633740,NaN,11.642960,7.756970,4.590000,9.390000,9.160000
KEN,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.054017,8.117108,6.215378,5.873778,5.200115,5.043457,2.165000,3.859972
BEN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.069260,NaN,12.281350,9.560040,17.350260,NaN,NaN,NaN
TZA,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.626693,6.191375,7.878863,10.114727,7.269420,5.880000,1.255556,5.295555
SOM,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.295158,7.346955,6.967105,9.736970,6.476394,8.203332,7.014334,6.008667
DZA,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.190750,10.074030,10.058170,10.858780,10.918955,7.548335,8.844584,7.830000
NGA,Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.194522,8.071872,7.390229,7.965070,7.034200,4.780000,3.470741,4.635370
COM,Comoros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.406890,NaN,6.964290,4.873720,3.664430,2.926670,2.943333,1.743333
TCD,Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MLI,Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.864695,3.143637,5.657267,4.740733,5.238670,2.615000,1.777222,1.726667
RWA,Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.282098,6.757108,7.465038,7.363342,5.595417,6.209168,2.877500,5.758333
SLE,Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.052450,8.717360,10.278920,13.486560,12.677430,8.206670,9.906667,10.340000
LSO,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.942770,10.246720,7.172750,5.364600,5.291610,0.730000,1.460000,1.820000

In [98]:
df_cereal_new = pd.melt(df_cereal, id_vars=['Country'],var_name='ds', value_name='y')

df_cereal_new['ds'] = df_cereal_new['ds'].apply(lambda x: x[-4:])

df_cereal_new.head(100)

          Country    ds         y
0   Guinea-Bissau  1960   25569.0
1          Malawi  1960   50199.0
2         Burundi  1960   45564.0
3         Senegal  1960  359097.0
4     Gambia, The  1960   37068.0
..            ...   ...       ...
95        Eritrea  1961  130858.0
96          Kenya  1961  315553.0
97          Benin  1961   77928.0
98       Tanzania  1961  174346.0
99        Somalia  1961  100879.0

[100 rows x 3 columns]

In [99]:
countries = df_cereal_new['Country'].unique()
loaded_countries = []
# for i in countries:
#     print(i)

In [100]:
for i in range(len(countries)):
    try:
        country_df = df_cereal_new[df_cereal_new['Country'] == countries[i]]
        my_model = Prophet(interval_width=0.95)
        my_model.fit(country_df)
        future_dates = my_model.make_future_dataframe(periods=10, freq='Y',include_history=False)
        forecast = my_model.predict(future_dates)
        final_forecast = forecast[['ds', 'yhat']].copy()
        final_forecast['Country'] = countries[i]
        loaded_countries.append(final_forecast)
    except Exception as e:
        print(f"An error occured: {e}")

18:01:51 - cmdstanpy - INFO - Chain [1] start processing
18:01:51 - cmdstanpy - INFO - Chain [1] done processing
18:01:51 - cmdstanpy - INFO - Chain [1] start processing
18:01:52 - cmdstanpy - INFO - Chain [1] done processing
18:01:52 - cmdstanpy - INFO - Chain [1] start processing
18:01:52 - cmdstanpy - INFO - Chain [1] done processing
18:01:52 - cmdstanpy - INFO - Chain [1] start processing
18:01:52 - cmdstanpy - INFO - Chain [1] done processing
18:01:52 - cmdstanpy - INFO - Chain [1] start processing
18:01:53 - cmdstanpy - INFO - Chain [1] done processing
18:01:53 - cmdstanpy - INFO - Chain [1] start processing
18:01:53 - cmdstanpy - INFO - Chain [1] done processing
18:01:53 - cmdstanpy - INFO - Chain [1] start processing
18:01:54 - cmdstanpy - INFO - Chain [1] done processing
18:01:54 - cmdstanpy - INFO - Chain [1] start processing

An error occured: Dataframe has less than 2 non-NaN rows.

18:01:54 - cmdstanpy - INFO - Chain [1] done processing
18:01:54 - cmdstanpy - INFO - Chain [1] start processing
18:01:55 - cmdstanpy - INFO - Chain [1] done processing
18:01:55 - cmdstanpy - INFO - Chain [1] start processing

An error occured: Dataframe has less than 2 non-NaN rows.
An error occured: Dataframe has less than 2 non-NaN rows.

18:01:55 - cmdstanpy - INFO - Chain [1] done processing
18:01:55 - cmdstanpy - INFO - Chain [1] start processing
18:01:56 - cmdstanpy - INFO - Chain [1] done processing
18:01:56 - cmdstanpy - INFO - Chain [1] start processing
18:01:56 - cmdstanpy - INFO - Chain [1] done processing
18:01:56 - cmdstanpy - INFO - Chain [1] start processing
18:01:57 - cmdstanpy - INFO - Chain [1] done processing
18:01:57 - cmdstanpy - INFO - Chain [1] start processing
18:01:57 - cmdstanpy - INFO - Chain [1] done processing
18:01:57 - cmdstanpy - INFO - Chain [1] start processing
18:01:57 - cmdstanpy - INFO - Chain [1] done processing
18:01:57 - cmdstanpy - INFO - Chain [1] start processing

An error occured: Dataframe has less than 2 non-NaN rows.
An error occured: Dataframe has less than 2 non-NaN rows.

18:01:58 - cmdstanpy - INFO - Chain [1] done processing
18:01:58 - cmdstanpy - INFO - Chain [1] start processing
18:01:58 - cmdstanpy - INFO - Chain [1] done processing
18:01:58 - cmdstanpy - INFO - Chain [1] start processing
18:01:59 - cmdstanpy - INFO - Chain [1] done processing
18:01:59 - cmdstanpy - INFO - Chain [1] start processing
18:01:59 - cmdstanpy - INFO - Chain [1] done processing
18:01:59 - cmdstanpy - INFO - Chain [1] start processing
18:02:00 - cmdstanpy - INFO - Chain [1] done processing
18:02:00 - cmdstanpy - INFO - Chain [1] start processing
18:02:00 - cmdstanpy - INFO - Chain [1] done processing
18:02:00 - cmdstanpy - INFO - Chain [1] start processing
18:02:01 - cmdstanpy - INFO - Chain [1] done processing
18:02:01 - cmdstanpy - INFO - Chain [1] start processing
18:02:01 - cmdstanpy - INFO - Chain [1] done processing
18:02:01 - cmdstanpy - INFO - Chain [1] start processing
18:02:02 - cmdstanpy - INFO - Chain [1] done processing
18:02:02 - cmdstanpy - INFO - Chain [1] start processing
18:02:02 - cmdstanpy - INFO - Chain [1] done processing
18:02:02 - cmdstanpy - INFO - Chain [1] start processing
18:02:03 - cmdstanpy - INFO - Chain [1] done processing
18:02:03 - cmdstanpy - INFO - Chain [1] start processing
18:02:03 - cmdstanpy - INFO - Chain [1] done processing
18:02:03 - cmdstanpy - INFO - Chain [1] start processing
18:02:03 - cmdstanpy - INFO - Chain [1] done processing
18:02:04 - cmdstanpy - INFO - Chain [1] start processing
18:02:04 - cmdstanpy - INFO - Chain [1] done processing
18:02:04 - cmdstanpy - INFO - Chain [1] start processing
18:02:04 - cmdstanpy - INFO - Chain [1] done processing
18:02:04 - cmdstanpy - INFO - Chain [1] start processing

An error occured: Dataframe has less than 2 non-NaN rows.

18:02:05 - cmdstanpy - INFO - Chain [1] done processing
18:02:05 - cmdstanpy - INFO - Chain [1] start processing
18:02:05 - cmdstanpy - INFO - Chain [1] done processing
18:02:05 - cmdstanpy - INFO - Chain [1] start processing
18:02:06 - cmdstanpy - INFO - Chain [1] done processing
18:02:06 - cmdstanpy - INFO - Chain [1] start processing
18:02:06 - cmdstanpy - INFO - Chain [1] done processing
18:02:06 - cmdstanpy - INFO - Chain [1] start processing
18:02:06 - cmdstanpy - INFO - Chain [1] done processing
18:02:06 - cmdstanpy - INFO - Chain [1] start processing
18:02:07 - cmdstanpy - INFO - Chain [1] done processing
18:02:07 - cmdstanpy - INFO - Chain [1] start processing
18:02:07 - cmdstanpy - INFO - Chain [1] done processing
18:02:07 - cmdstanpy - INFO - Chain [1] start processing
18:02:08 - cmdstanpy - INFO - Chain [1] done processing
18:02:08 - cmdstanpy - INFO - Chain [1] start processing
18:02:08 - cmdstanpy - INFO - Chain [1] done processing
18:02:08 - cmdstanpy - INFO - Chain [1] start processing
18:02:09 - cmdstanpy - INFO - Chain [1] done processing
18:02:09 - cmdstanpy - INFO - Chain [1] start processing
18:02:09 - cmdstanpy - INFO - Chain [1] done processing
18:02:09 - cmdstanpy - INFO - Chain [1] start processing
18:02:09 - cmdstanpy - INFO - Chain [1] done processing
18:02:09 - cmdstanpy - INFO - Chain [1] start processing

An error occured: Dataframe has less than 2 non-NaN rows.

18:02:10 - cmdstanpy - INFO - Chain [1] done processing
18:02:10 - cmdstanpy - INFO - Chain [1] start processing
18:02:10 - cmdstanpy - INFO - Chain [1] done processing
18:02:10 - cmdstanpy - INFO - Chain [1] start processing
18:02:11 - cmdstanpy - INFO - Chain [1] done processing
18:02:11 - cmdstanpy - INFO - Chain [1] start processing
18:02:11 - cmdstanpy - INFO - Chain [1] done processing

An error occured: Dataframe has less than 2 non-NaN rows.

In [101]:
for i in loaded_countries:
    print(i.head())

          ds           yhat        Country
0 2023-12-31  672475.277961  Guinea-Bissau
1 2024-12-31  697137.597812  Guinea-Bissau
2 2025-12-31  715577.717972  Guinea-Bissau
3 2026-12-31  733626.578436  Guinea-Bissau
4 2027-12-31  751294.845149  Guinea-Bissau
          ds          yhat Country
0 2023-12-31  1.270065e+06  Malawi
1 2024-12-31  1.328149e+06  Malawi
2 2025-12-31  1.365250e+06  Malawi
3 2026-12-31  1.401018e+06  Malawi
4 2027-12-31  1.435464e+06  Malawi
          ds          yhat  Country
0 2023-12-31  1.183598e+06  Burundi
1 2024-12-31  1.255229e+06  Burundi
2 2025-12-31  1.298134e+06  Burundi
3 2026-12-31  1.339185e+06  Burundi
4 2027-12-31  1.378394e+06  Burundi
          ds          yhat  Country
0 2023-12-31  3.421636e+06  Senegal
1 2024-12-31  3.521268e+06  Senegal
2 2025-12-31  3.590006e+06  Senegal
3 2026-12-31  3.656608e+06  Senegal
4 2027-12-31  3.721045e+06  Senegal
          ds           yhat      Country
0 2023-12-31  474875.459100  Gambia, The
1 2024-12-31  483780.091260  Gambia, The
2 2025-12-31  489294.128037  Gambia, The
3 2026-12-31  494575.951870  Gambia, The
4 2027-12-31  499618.704732  Gambia, The
          ds          yhat Country
0 2023-12-31  1.424684e+06   Niger
1 2024-12-31  1.473291e+06   Niger
2 2025-12-31  1.505558e+06   Niger
3 2026-12-31  1.536751e+06   Niger
4 2027-12-31  1.566863e+06   Niger
          ds          yhat           Country
0 2023-12-31  2.257346e+07  Egypt, Arab Rep.
1 2024-12-31  2.293786e+07  Egypt, Arab Rep.
2 2025-12-31  2.335055e+07  Egypt, Arab Rep.
3 2026-12-31  2.377104e+07  Egypt, Arab Rep.
4 2027-12-31  2.420196e+07  Egypt, Arab Rep.
          ds          yhat     Country
0 2023-12-31  3.876705e+06  Madagascar
1 2024-12-31  4.068325e+06  Madagascar
2 2025-12-31  4.196950e+06  Madagascar
3 2026-12-31  4.321502e+06  Madagascar
4 2027-12-31  4.442019e+06  Madagascar
          ds          yhat Country
0 2023-12-31  2.122715e+06  Guinea
1 2024-12-31  2.167047e+06  Guinea
2 2025-12-31  2.211271e+06  Guinea
3 2026-12-31  2.255453e+06  Guinea
4 2027-12-31  2.299577e+06  Guinea
          ds          yhat Country
0 2023-12-31  3.842811e+06   Ghana
1 2024-12-31  3.992644e+06   Ghana
2 2025-12-31  4.121062e+06   Ghana
3 2026-12-31  4.248300e+06   Ghana
4 2027-12-31  4.374414e+06   Ghana
          ds           yhat   Country
0 2023-12-31  603493.505624  Djibouti
1 2024-12-31  618960.462039  Djibouti
2 2025-12-31  626265.307895  Djibouti
3 2026-12-31  633055.655886  Djibouti
4 2027-12-31  639343.297323  Djibouti
          ds          yhat Country
0 2023-12-31  6.380855e+06   Sudan
1 2024-12-31  6.529350e+06   Sudan
2 2025-12-31  6.663630e+06   Sudan
3 2026-12-31  6.797118e+06   Sudan
4 2027-12-31  6.929782e+06   Sudan
          ds          yhat Country
0 2023-12-31  3.196606e+06  Zambia
1 2024-12-31  3.327651e+06  Zambia
2 2025-12-31  3.432990e+06  Zambia
3 2026-12-31  3.536598e+06  Zambia
4 2027-12-31  3.638481e+06  Zambia
          ds          yhat      Country
0 2023-12-31  2.709494e+06  Congo, Rep.
1 2024-12-31  2.796756e+06  Congo, Rep.
2 2025-12-31  2.877887e+06  Congo, Rep.
3 2026-12-31  2.959006e+06  Congo, Rep.
4 2027-12-31  3.040318e+06  Congo, Rep.
          ds          yhat  Country
0 2023-12-31  2.516541e+06  Tunisia
1 2024-12-31  2.543175e+06  Tunisia
2 2025-12-31  2.580256e+06  Tunisia
3 2026-12-31  2.618713e+06  Tunisia
4 2027-12-31  2.658949e+06  Tunisia
          ds          yhat   Country
0 2023-12-31  4.610487e+06  Cameroon
1 2024-12-31  4.811818e+06  Cameroon
2 2025-12-31  4.970786e+06  Cameroon
3 2026-12-31  5.127386e+06  Cameroon
4 2027-12-31  5.281779e+06  Cameroon
          ds          yhat       Country
0 2023-12-31  6.442530e+06  South Africa
1 2024-12-31  6.538813e+06  South Africa
2 2025-12-31  6.703952e+06  South Africa
3 2026-12-31  6.875881e+06  South Africa
4 2027-12-31  7.055777e+06  South Africa
          ds          yhat   Country
0 2023-12-31  1.560709e+06  Zimbabwe
1 2024-12-31  1.569729e+06  Zimbabwe
2 2025-12-31  1.575813e+06  Zimbabwe
3 2026-12-31  1.581630e+06  Zimbabwe
4 2027-12-31  1.587153e+06  Zimbabwe
          ds          yhat   Country
0 2023-12-31  5.433289e+06  Ethiopia
1 2024-12-31  5.678863e+06  Ethiopia
2 2025-12-31  5.838218e+06  Ethiopia
3 2026-12-31  5.992149e+06  Ethiopia
4 2027-12-31  6.140717e+06  Ethiopia
          ds          yhat       Country
0 2023-12-31  3.157759e+06  Burkina Faso
1 2024-12-31  3.317053e+06  Burkina Faso
2 2025-12-31  3.412153e+06  Burkina Faso
3 2026-12-31  3.503018e+06  Burkina Faso
4 2027-12-31  3.589667e+06  Burkina Faso
          ds          yhat  Country
0 2023-12-31  3.863119e+06  Morocco
1 2024-12-31  3.920639e+06  Morocco
2 2025-12-31  3.947184e+06  Morocco
3 2026-12-31  3.971345e+06  Morocco
4 2027-12-31  3.992961e+06  Morocco
          ds          yhat Country
0 2023-12-31  1.206095e+06   Libya
1 2024-12-31  1.203316e+06   Libya
2 2025-12-31  1.212811e+06   Libya
3 2026-12-31  1.223087e+06   Libya
4 2027-12-31  1.234112e+06   Libya
          ds          yhat     Country
0 2023-12-31  1.497992e+06  Mauritania
1 2024-12-31  1.557972e+06  Mauritania
2 2025-12-31  1.603769e+06  Mauritania
3 2026-12-31  1.648616e+06  Mauritania
4 2027-12-31  1.692518e+06  Mauritania
          ds          yhat Country
0 2023-12-31  1.983576e+06    Togo
1 2024-12-31  2.024441e+06    Togo
2 2025-12-31  2.061656e+06    Togo
3 2026-12-31  2.098593e+06    Togo
4 2027-12-31  2.135215e+06    Togo
          ds           yhat            Country
0 2023-12-31  488174.548855  Equatorial Guinea
1 2024-12-31  508418.832751  Equatorial Guinea
2 2025-12-31  527104.809861  Equatorial Guinea
3 2026-12-31  545731.837658  Equatorial Guinea
4 2027-12-31  564306.433498  Equatorial Guinea
          ds           yhat  Country
0 2023-12-31  476652.850404  Namibia
1 2024-12-31  492722.210769  Namibia
2 2025-12-31  503968.817199  Namibia
3 2026-12-31  514904.649975  Namibia
4 2027-12-31  525530.789734  Namibia
          ds          yhat  Country
0 2023-12-31  1.622776e+06  Liberia
1 2024-12-31  1.581383e+06  Liberia
2 2025-12-31  1.623782e+06  Liberia
3 2026-12-31  1.670817e+06  Liberia
4 2027-12-31  1.722453e+06  Liberia
          ds           yhat      Country
0 2023-12-31  460056.993381  South Sudan
1 2024-12-31  480587.901416  South Sudan
2 2025-12-31  494883.551851  South Sudan
3 2026-12-31  508777.947882  South Sudan
4 2027-12-31  522274.173539  South Sudan
          ds          yhat           Country
0 2023-12-31  1.630550e+07  Congo, Dem. Rep.
1 2024-12-31  1.697266e+07  Congo, Dem. Rep.
2 2025-12-31  1.745938e+07  Congo, Dem. Rep.
3 2026-12-31  1.793388e+07  Congo, Dem. Rep.
4 2027-12-31  1.839615e+07  Congo, Dem. Rep.
          ds           yhat Country
0 2023-12-31  915580.070732   Gabon
1 2024-12-31  923367.378046   Gabon
2 2025-12-31  943762.527685   Gabon
3 2026-12-31  965068.267148   Gabon
4 2027-12-31  987288.506131   Gabon
          ds          yhat     Country
0 2023-12-31  1.780995e+06  Mozambique
1 2024-12-31  1.844404e+06  Mozambique
2 2025-12-31  1.881584e+06  Mozambique
3 2026-12-31  1.917183e+06  Mozambique
4 2027-12-31  1.951212e+06  Mozambique
          ds          yhat Country
0 2023-12-31  9.634322e+06  Angola
1 2024-12-31  9.921117e+06  Angola
2 2025-12-31  1.022880e+07  Angola
3 2026-12-31  1.053788e+07  Angola
4 2027-12-31  1.084843e+07  Angola
          ds          yhat Country
0 2023-12-31  3.777281e+06  Uganda
1 2024-12-31  3.982268e+06  Uganda
2 2025-12-31  4.101540e+06  Uganda
3 2026-12-31  4.215243e+06  Uganda
4 2027-12-31  4.323397e+06  Uganda
          ds          yhat                   Country
0 2023-12-31  9.557704e+05  Central African Republic
1 2024-12-31  9.809713e+05  Central African Republic
2 2025-12-31  9.972620e+05  Central African Republic
3 2026-12-31  1.012932e+06  Central African Republic
4 2027-12-31  1.027971e+06  Central African Republic
          ds          yhat        Country
0 2023-12-31  5.675351e+06  Cote d'Ivoire
1 2024-12-31  5.858592e+06  Cote d'Ivoire
2 2025-12-31  5.975822e+06  Cote d'Ivoire
3 2026-12-31  6.088717e+06  Cote d'Ivoire
4 2027-12-31  6.197317e+06  Cote d'Ivoire
          ds          yhat  Country
0 2023-12-31  1.061036e+06  Eritrea
1 2024-12-31  1.111286e+06  Eritrea
2 2025-12-31  1.136518e+06  Eritrea
3 2026-12-31  1.160100e+06  Eritrea
4 2027-12-31  1.182046e+06  Eritrea
          ds          yhat Country
0 2023-12-31  5.305347e+06   Kenya
1 2024-12-31  5.524435e+06   Kenya
2 2025-12-31  5.666581e+06   Kenya
3 2026-12-31  5.803618e+06   Kenya
4 2027-12-31  5.935551e+06   Kenya
          ds          yhat Country
0 2023-12-31  1.032774e+06   Benin
1 2024-12-31  1.111925e+06   Benin
2 2025-12-31  1.123695e+06   Benin
3 2026-12-31  1.130994e+06   Benin
4 2027-12-31  1.133852e+06   Benin
          ds          yhat   Country
0 2023-12-31  7.769854e+06  Tanzania
1 2024-12-31  8.175112e+06  Tanzania
2 2025-12-31  8.445400e+06  Tanzania
3 2026-12-31  8.707017e+06  Tanzania
4 2027-12-31  8.960036e+06  Tanzania
          ds          yhat  Country
0 2023-12-31  2.506149e+06  Somalia
1 2024-12-31  2.631508e+06  Somalia
2 2025-12-31  2.700679e+06  Somalia
3 2026-12-31  2.767004e+06  Somalia
4 2027-12-31  2.830516e+06  Somalia
          ds          yhat  Country
0 2023-12-31  2.906787e+06  Algeria
1 2024-12-31  2.947368e+06  Algeria
2 2025-12-31  2.980940e+06  Algeria
3 2026-12-31  3.014112e+06  Algeria
4 2027-12-31  3.046867e+06  Algeria
          ds          yhat  Country
0 2023-12-31  1.583817e+07  Nigeria
1 2024-12-31  1.642722e+07  Nigeria
2 2025-12-31  1.679188e+07  Nigeria
3 2026-12-31  1.714137e+07  Nigeria
4 2027-12-31  1.747562e+07  Nigeria
          ds          yhat Country
0 2023-12-31  1.581777e+06    Chad
1 2024-12-31  1.648722e+06    Chad
2 2025-12-31  1.688596e+06    Chad
3 2026-12-31  1.726734e+06    Chad
4 2027-12-31  1.763150e+06    Chad
          ds          yhat Country
0 2023-12-31  2.910982e+06    Mali
1 2024-12-31  3.009364e+06    Mali
2 2025-12-31  3.080731e+06    Mali
3 2026-12-31  3.150289e+06    Mali
4 2027-12-31  3.218026e+06    Mali
          ds          yhat Country
0 2023-12-31  1.254081e+06  Rwanda
1 2024-12-31  1.301349e+06  Rwanda
2 2025-12-31  1.332482e+06  Rwanda
3 2026-12-31  1.362661e+06  Rwanda
4 2027-12-31  1.391937e+06  Rwanda
          ds          yhat       Country
0 2023-12-31  1.319669e+06  Sierra Leone
1 2024-12-31  1.356125e+06  Sierra Leone
2 2025-12-31  1.385413e+06  Sierra Leone
3 2026-12-31  1.414264e+06  Sierra Leone
4 2027-12-31  1.442691e+06  Sierra Leone

In [9]:
def getCo2Emission():
    # DEBUG AND RETURN 'E   N.ATM.CO2E.PC'
    df_income = wb.data.DataFrame('EN.GHG.CH4.WA.MT.CE.AR5',
                                    economy=wb.region.members('AFR'),labels=True)
    df_income = df_income.reset_index(drop=True).set_index('Country')
    df_income = df_income.iloc[1:,-20:-3].reset_index()
    df_income.loc[60] = df_income.sum(numeric_only=True)
    df_income['Country'] = df_income['Country'].fillna('Africa')
    df_income['Diff_Gain'] = df_income['YR2005']-df_income['YR2021']
    df_income.sort_values(by='YR2020', inplace=True,ascending=False)
    df_income = df_income.round(2)
    return df_income.reset_index(drop=True)
df_getCo2Emission=getCo2Emission()

/opt/anaconda3/envs/mydev/lib/python3.10/site-packages/wbgapi/data.py:327: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dummy = pd.Series()    # empty series - never assigned actual values

In [10]:
df_getCo2Emission.head()

,Country,YR2005,YR2006,YR2007,YR2008,YR2009,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,Diff_Gain
0,Africa,124.65,125.21,128.46,132.42,136.20,141.27,145.93,152.94,157.68,162.25,167.12,172.14,177.70,183.13,188.01,192.91,200.97,-76.33
1,Nigeria,16.10,16.79,17.54,18.23,19.22,20.15,21.05,22.01,23.02,24.08,25.06,25.83,26.73,27.59,28.43,29.30,30.17,-14.07
2,South Africa,15.85,16.50,16.91,17.44,17.17,17.70,18.12,19.82,20.59,20.57,20.58,20.65,21.01,21.18,21.45,21.54,21.87,-6.02
3,Morocco,12.70,13.19,13.69,13.95,14.40,14.88,15.41,15.88,16.43,16.70,17.27,17.67,18.17,18.64,19.09,19.53,19.98,-7.28
4,Algeria,10.60,10.92,11.31,11.67,12.06,12.52,12.97,13.46,13.90,14.58,15.19,15.54,15.85,16.51,16.92,17.21,20.12,-9.52